data/annotations/
data/train2017/
data/val2017/
data/annotation.zip
data/train2017.zip
data/val2017.zip
data/coco/
data/DensePose/
data/__init__.pyc
data/coco_tfrecord_256x256_20200903/
data/obj_tfrecord_256x256_*/
data/openimages-20200921/
data/openimages-20200928/
data/scene-parse-ins/
checkpoints/
logs/
weights/*.tflite
__pycache__/
checkpoints-SGD*/
none.png
origin.png
result.png
seg.png
seg-real.png
area_interval.csv
confusion_matrix.csv
Thumbs.db